@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Manrope:wght@200..800&display=swap");

:root {
        --button-bg: #956eca;
        --violent: #956eca;
        --textColor: #b8b8b8;
        --black: #000;
        --white: #fff;
        --FontPrimary: "Anek Bangla", sans-serif;
        --textFont: "Manrope", sans-serif;
        --textSize: 1.063rem;
        --gradientColor: linear-gradient(to right, #bb6ffb 0%, #fc5f67 52%, #ffb054 100%);
        --gradientButton: linear-gradient(#000, #000) padding-box, linear-gradient(60deg, #bb6ffb, #fc5f67, #ffb054) border-box;
        --headerBgColor: #171614;
        --mobileNavBgColor: #171614;
        --aboutBgColor: #171614;
        --portfolioBgColor: #1e1e1e;
        --servicesBgColor: #1D191C;
        --footerBgColor: #1e1e1e;

        /* =======Mobile========= */
        --mobileTextSize: 0.813rem;
}

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        user-select: none;
}

html {
        scroll-behavior: smooth;
}

body {
        width: 100%;
        height: auto;
        margin: 0 auto;
        font-family: var(--FontPrimary);
        font-optical-sizing: auto;
        color: var(--white);
}

/* =========Header Section============*/

#header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 222;
        width: 100%;
        padding: 20px 0 15px 0;
        background: var(--headerBgColor);
}

.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.brandName {
        font-size: 3rem;
        font-weight: 800;
        position: relative;
        line-height: 2.5rem;
}

nav ul {
        display: flex;
        align-items: center;
        position: relative;
}

nav ul li {
        list-style-type: none;
        padding: 10px 25px;
}

nav ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: var(--black);
        font-size: 17px;
        font-weight: 400;
        position: relative;
        transition: all 0.5s;
        color: var(--textColor);
}

nav ul li a:hover {
        background-image: var(--gradientColor);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: -2px -2px 0px rgba(59, 167, 235, 0.1);
}

.sidebarLogo {
        display: none;
}

.cta-getInTouch {
        padding: 13px 23px;
}

.cta-getInTouch:hover {
        background: var(--gradientColor);
}

.hamburger {
        display: none;
}

.close-btn {
        display: none;
}

.hamburger img {
        width: 20px;
        height: 20px;
}

.sidebar-close-button {
        display: none;
}